.home {
  text-align: center;
}

.logement-container {
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 25px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 60px;
}