.not-found-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ff6060;
}

.not-found-404 {
	margin: 100px 0 0 0;
	font-weight: 700;
	font-size: 288px;
}

.not-found-text {
	font-weight: 500;
	font-size: 36px;
}

.not-found-link {
	margin-top: 100px;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	color: #ff6060;
}

.not-found-link:hover {
	text-decoration: underline;
}

@media (max-width: 1023px) {
	.not-found-404 {
		font-size: 10em;
	}

	.not-found-text {
		font-size: 1em;
		text-align: center;
	}

	.not-found-link {
		font-size: 0.8em;
	}
}

@media (max-width: 767px) {
	.not-found-404 {
		font-size: 7em;
	}
}